.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  display: inline-block;
  text-align: center;
  width: 2em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
  color: #09d3ac;
  background-color: honeydew;
}

 .activeCard {
  color:sienna;
  background: sandybrown;
 }

 .Title {
   font-size: 5em;
 }

 .Description{
   font-size: 2em;
   color: rgb(28, 155, 28);
 }
 
 .Status{
   font-size: 2em;
   color: rgb(255, 255, 255);
 }

 .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

body{
  background-color: #6bffe1;
}
